extends layout

block content
  h2 #{title}
  h3 #{message}
  address
    | Gran via 26
    br
    | Madrid, Madrid 28043
    br
    abbr(title='Phone') P: 
    | +34 681025226

  address
    strong Support: 
    a(href='mailto:Support@example.com') support@example.com
    br
    strong Customer Happiness: 
    a(href='mailto:Marketing@example.com') communication@example.com
