extends layout

block content
  p
  .jumbotron
    h1 Dreams & Feels
    p.lead This is a demo website to make you HAPPY
    p
      a.btn.btn-primary.btn-large(href='/about') Learn more &raquo;
  .row
    .col-md-4
      h2 All the Brands
      p Here you can find all the make-up brands in the world. This repository will help you find your best way to the beauty.
      p
        a.btn.btn-info(href='/brands') Go on! &raquo;
    .col-md-4
      h2 Products World
      p Do you want to find every single make-up/beauty product existing? Come here and you will be amazed with our big diversity.
      p
        a.btn.btn-info(href='/products') Follow me! &raquo;
    .col-md-4
      h2 HELP US!
      p Do you want to be part of this by introducing new products/brands in out big world? Come here and tell us more about it.
      p
        a.btn.btn-warning(href='/new_brand') New Brand &raquo;
        a.btn.btn-warning.pull-right(href='/new_product') New Product &raquo;
